<!-- 
<span><a title="主页" href="/">home</a></span>
<span><a title="登录" href="/login">login</a></span>
<span><a title="注册" href="/reg">register</a></span>
-->
<div class="col-md-3 col-md-offset-1">
	<ul class="nav nav-pills nav-stacked">
	  <li role="presentation" class="active"><a href="#" data-toggle="pill">注册</a></li>
	  <li role="presentation"><a href="#" data-toggle="pill">登陆</a></li>
	  <li role="presentation"><a href="#" data-toggle="pill">主页</a></li>
	</ul>
</div>

<!--<script>
	$('#myTabs a').click(function (e) {
	  //e.preventDefault()
	  $(this).tab('show')
	})
</script> -->